@import "./config-css/variables.css";
@import "./config-css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Signika&display=swap");

html {
  background: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

main {
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 200px;
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 10px;
}

input {
  width: 95%;
  background: none;
  border: none;

  font-size: 18px;

  color: var(--branco);

  &::placeholder{
    color: var(--branco);
  }
}